@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  /* Colors */
  --bg-testimonial: hsl(300, 43%, 22%);
  --bg-rating: hsl(305, 81%, 22%);
  --bg--wrapper: hsl(0, 0%, 100%);
  --copy-main: hsl(300, 24%, 96%);
  --verified-customer: hsl(333, 80%, 67%);
}

body {
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
  background-color: var(--bg--wrapper);
  background-position: top right;
  background-repeat: no-repeat;
  width: 40vw;
  min-width: 420px;
  margin: 0 auto;
  box-shadow: 1px 2px 15px black;
  padding: 1em;
}

.headline {
  color: var(--bg-testimonial);
  margin: 2em 1.5em 0;
  text-align: center;
  font-weight: 700;
}

.feature--text {
  text-align: center;
  margin: 4em 1.5em 2.5em;
  border: 1px solid red;
}

.rated--module {
  display: flex;
  flex-direction: column;
  background-color: var(--copy-main);
  padding: 1em 2em;
  margin: 1em 1.5em;
  border-radius: 5px;
  align-items: center;
}

.rated--magzine {
  color: var(--bg-testimonial);
  font-weight: 700;
  margin: 1em 0 0;
}

.testimonial--module {
  background-color: var(--bg-testimonial);
  border-radius: 5px;
  margin: 1.5em;
  padding: 1em;
}

.testimonial--header {
  display: flex;
  padding: 2em 1em;
}

.testimonial--image {
  border-radius: 50%;
}

.testimonial--name {
  margin-bottom: 0.5em;
  color: var(--bg--wrapper);
  font-weight: 600;
}

.testimonial--verified {
  color: var(--verified-customer);
  margin-top: 0;
}

.info--testimonial {
  padding-left: 1em;
  margin-bottom: 0;
}

.testimonial--statement {
  margin-top: -2em;
  padding: 1em;
}

.testimonial--statement__color {
  color: var(--copy-main);
}

@media (min-width: 700px) {
  body {
    overflow-y: hidden;
  }
  .main-wrapper {
    width: max(80vw, 1570px);
    background: url(../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    padding: 7em;
    border: 1px solid black;
    background: url(../images/bg-pattern-bottom-desktop.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  .main--content {
    width: 40vw;
    max-width: 550px;
    border: 1px solid blue;
  }

  .flex-wrapper {
    display: flex;
    height: 25vh;
  }

  .headline {
    margin: 20px 0;
    font-size: 2em;
    padding: 0;
    font-weight: 900;
    text-align: left;
  }

  .headline span::before {
    content: "\A";
    white-space: pre;
  }

  .feature--text {
    text-align: left;
    margin: 1em 0 0;
    line-height: 1.5em;
    /* width: min(50%, 40ch); */
  }
  .rated--stars {
    max-width: 120px;
  }
  .rated--content {
    display: grid;
    border: 1px dotted olivedrab;
    grid-template-columns: repeat(4, 9em);
    grid-template-rows: repeat(5, 5em);
  }

  .rated--module {
    flex-direction: row;
    height: 2em;
  }

  .rated--stars {
    width: 100%;
    margin-right: 0;
  }

  .rated--magzine {
    width: auto;
    font-size: clamp(11px, 1vw, 0.7em);
  }

  .one {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .two {
    grid-column: 2/5;
    grid-row: 2/3;
  }

  .three {
    grid-column: 3/6;
    grid-row: 3/4;
  }

  .testimonial--content {
    margin-top: 1em;
    width: 100vw;
    max-width: 1240px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(20, 1em);
    height: 50vh;
    border: 1px solid red;
    align-content: stretch;
    justify-content: stretch;
  }

  .testimonial--image {
    width: max(20%, 40px);
  }
  .testimonial--module {
    max-width: 350px;
    font-size: min(0.9em, 10px);
    font-size: clamp(11px, 1vw, 0.9em);
  }
  .testimonial--one {
    grid-column: 1/2;
    grid-row: 1/18;
  }
  .testimonial--two {
    grid-column: 2/3;
    grid-row: 2/19;
  }
  .testimonial--three {
    grid-column: 3/4;
    grid-row: 3/20;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
